
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
  
:root {
  --header-height: 4.8rem;

  --title-color: #6732d9;
  --title-color-dark: #431111;
  --text-color: #222e3b;
  --body-color: #fff;
  --container-color: #fff;
  --color-text-black: #0e0e0e;
  --color-comment: #607B96;
  
  --body-font: "Poppins", sans-serif;

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --h1-font-size: 3.6rem;
  --h2-font-size: 2.4rem;
  --h3-font-size: 2.0rem;
  
  --big-font-size: 5.6rem;
  --normal-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  --smaller-font-size: 1.3rem;
  --tiny-font-size: 1rem;

  --mb-0-25: .4rem;
  --mb-0-5: .8rem;
  --mb-0-75: 1.2rem;
  --mb-1: 1.6rem;
  --mb-1-5: 2.4rem;
  --mb-2: 3.2rem;
  --mb-2-5: 4rem;
  --mb-3: 4.8rem;

  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 65.5%;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--color-background);
  margin: 0 auto
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Reusable css classes */

.section {
  padding: 6rem 0 2rem;
}

.center {
  margin-left: 50%;
  transform: translateX(-50%);
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-family: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/* LAYOUT */

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2.4rem;
}

/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}



/* BREAKPOINTS */

/* Responsive typography */
@media screen and (max-width: 992px) {
  :root {
    --big-font-size: 4.4rem;
    --h1-font-size: 2.4rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.6rem;
    --normal-font-size: 1.5rem;
    --small-font-size: 1.3rem;
    --smaller-font-size: 1.2rem;
  }
}


/* For large devices */
@media screen and (max-width: 992px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    padding: 1.6rem 2.8rem;
  }

  .button__icon {
    width: 22px;
    height: 22px;
  }

  
}

/* For medium devices */
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 3.2rem 0 6.4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }

}

/* For small devices */
@media screen and (max-width: 350px) {
  :root {
    --big-font-size: 3.6rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }
}